<div class="tasks-page-container">
  <header class="page-header">
    <h1>Minhas Tarefas</h1>
    <button class="add-task-button">+ Adicionar Tarefa</button>
  </header>

  <div class="task-board">
    
    <div class="task-column">
      <h2 class="column-title">A Fazer ({{ tarefas().length }})</h2>
      
      @for (tarefa of tarefas(); track tarefa.id) {
        <div class="task-card">
          <div>
            <span class="priority medium">{{ tarefa.status }}</span>
            <h3>{{ tarefa.titulo }}</h3>
            <p>{{ tarefa.descricao }}</p>
          </div>

          <div class="card-footer">
            <a class="card-details-link" [routerLink]="['/tarefa', tarefa.id]">
                Ver Detalhes
            </a>
            
            <div class="card-actions">
              <button class="action-button edit" title="Editar Tarefa">
                ✏️
              </button>
              <button class="action-button delete" title="Deletar Tarefa">
                🗑️
              </button>
            </div>
          </div>
        </div>
      } @empty {
        <p class="empty-state">Nenhuma tarefa encontrada.</p>
      }
    </div>

    <div class="task-column">
      <h2 class="column-title">Em Andamento (0)</h2>
    </div>

    <div class="task-column">
      <h2 class="column-title">Concluído (0)</h2>
    </div>

  </div>
</div>