<aside class="sidebar">
    <header class="sidebar-header">
        <a routerLink="/home" routerLinkActive="active">
            <h1>Âmbar</h1>
        </a>
    </header>

    <nav class="sidebar-nav">
        <a routerLink="/home" routerLinkActive="active">
            <span>Pagina Inicial</span>
        </a>
        <a routerLink="/tarefas" routerLinkActive="active">
            <span>Tarefas</span>
        </a>
        <a href="#">
            <span>Admin</span>
        </a>
    </nav>

    <footer class="sidebar-footer">
        <div class="user-profile">
            <img class="user-avatar" src="https://placehold.co/600x400/orange/white" alt="Avatar do usuário">
            <div class="user-info">
                <span class="user-name">Cássio</span>
                <span class="user-role">Administrador</span>
            </div>
        </div>
    </footer>
</aside>

<main class="main-content">
    <router-outlet></router-outlet>
</main>


