/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F7FAFC; // Nossa cor de fundo neutra
}